{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <button type="submit" class="btn btn-green btn-block"
                        onclick="window.location.href='{{ new_lead_form_url }}'">
                    Add New Lead
                </button>
            </div>

            <div class="col-sm-2">
                <button type="submit" class="btn btn-green btn-block"
                        onclick="window.location.href='{{ leads_list_page_url }}?type=tenant_lead'">
                    My Tenant Leads
                </button>
            </div>
        </div>
    </div>
{% endblock %}