{% extends 'base.html' %}

{% block title %}
Reset Password
{% endblock %}

{% block heading %}
Reset Password
{% endblock %}


{% block main %}
    <div class="container col-md-6 col-md-offset-3">
    {% if request.user.is_authenticated %}
        <div id="success_msg" style="color: green; text-align: center;"></div>

        <form id="reset_password" class="form-horizontal" method="post" action="{{ reset_password_url }}">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="password" class="form-control" placeholder="Password"
                           name="password" id="password" required>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12">
                    <input type="password" class="form-control" placeholder="Confirm Password"
                           name="confirm_password" id="confirm_password" required>
                </div>
            </div>

            <p id="password_reset_error" class="label label-danger"></p>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
            </div>
        </form>
    {% else %}
        <form id="generate_otp" class="form-horizontal" method="post" action="{{ generate_otp_url }}">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="Enter phone number" name="phone_no">
                </div>
            </div>

            <p id="generate_otp_error" class="label label-danger"></p>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
            </div>
        </form>

        <form id="login_otp" class="form-horizontal" method="post" action="{{ login_otp_url }}" style="display: none;">
            {% csrf_token %}
            <input type="hidden" name="phone_no">
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="Enter OTP" name="password">
                </div>
            </div>

            <p id="login_otp_error" class="label label-danger"></p>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
            </div>
        </form>
    {% endif %}
    </div>
{% endblock %}


{% block script %}
<script>
    $('#generate_otp').submit(function (e) {
        e.preventDefault();
        let form = $(this);
        let url = form.attr('action');
        let data = form.serialize();

        $.ajax({
            type: 'POST',
            url: url,
            data: data,
            success: function (data) {
                // alert("OTP sent successfully!");
                form.hide();
                $('#login_otp').show();
            },
            error: function( jqXhr, textStatus, errorThrown ){
                $('#generate_otp_error').html(jqXhr.responseJSON['error']);
            }
        });
    });

    $('#login_otp').submit(function (e) {
        // set phone number
        $('#login_otp input[name=phone_no]').val($('#generate_otp input[name=phone_no]').val());

        e.preventDefault();
        let form = $(this);
        let url = form.attr('action');
        let data = form.serialize();

        $.ajax({
            type: 'POST',
            url: url,
            data: data,
            success: function (data) {
                // alert("Login successful.");
                location.reload();
            },
            error: function( jqXhr, textStatus, errorThrown ){
                $('#login_otp_error').html(jqXhr.responseJSON['error']);
            }
        });

    });

    $('#reset_password').submit(function (e) {
        e.preventDefault();

        $.validator.setDefaults({
            debug: true,
            success: "valid"
        });

        $(this).validate({
            rules: {
                password: {
                    required: true,
                    minlength: 6,
                    maxlength: 10,
                },
                confirm_password: {
                    equalTo: "#password",
                    minlength: 6,
                    maxlength: 10
                }
            }
        });

        let form = $(this);
        let url = form.attr('action');
        let data = form.serialize();

        $.ajax({
            type: 'POST',
            url: url,
            data: data,
            success: function (data) {
                form.hide();
                $('#success_msg').html('<h3>Your Password was Successfully Changed!</h3>');
            },
            error: function( jqXhr, textStatus, errorThrown ){
                $('#password_reset_error').html(jqXhr.responseJSON['error']);
            }
        });
    });
</script>
{% endblock %}